{% include "copyright.c" %} 
#ifndef _GNU_SOURCE                    
#define _GNU_SOURCE                    
#endif                                 
#include <dlfcn.h>                     
#include <stdio.h>                     
#include <stdlib.h>
#define debug_printer debug_printer_f
void debug_printer(const char *, ...); 
#include "helper.h"                                                                                      
#include "wrapper_f.h"
extern __thread int in_w = 0;                                                                                   
