extern int wi4mpi__init__C;
int wi4mpi__init__F=0;
__attribute__((constructor)) void wrapper_interface_f(void) {
    if(wi4mpi__init__F!=0)
		return;
	wi4mpi__init__F=1;
if(wi4mpi__init__C==0)
		wrapper_interface();
#ifndef WI4MPI_STATIC
#define to_string(name) #name
#define handle_loader(name)\
INTERFACE_F_LOCAL_##name=dlsym(interface_handle,to_string(CC##name))

#else
#define handle_loader(name,MPI_TARGET)\
INTERFACE_F_LOCAL_##name=MPI_TARGET##name

#endif /*WI4MPI_STATIC*/
#ifndef WI4MPI_STATIC
void *interface_handle_f;
if(getenv("WI4MPI_WRAPPER_LIB") != NULL)
{
	interface_handle_f=dlopen(getenv("WI4MPI_WRAPPER_LIB"),RTLD_NOW|RTLD_GLOBAL);
}
else
{
	if(strcmp(wi4mpi_mode_f,"") != 0)
	{
		interface_handle_f=dlopen(wi4mpi_mode_f,RTLD_NOW|RTLD_GLOBAL);
	}
	else
	{
		fprintf(stderr,"Please provide either WI4MPI_WRAPPER_LIB environment or compile with -wi4mpi_default_run_paths\n");
		exit(1);
	}
}
if(!interface_handle_f)
{
	printf("Dlopen failed to open WI4MPI librarie.\nerror :%s\n",dlerror());
	exit(1);
}
{% for func in funcs %} 
{% if func['name'][-3:] != 'f2c' and func['name'][-3:] != 'c2f' and func['name'][-5:] != 'c2f08' and func['name'][-5:] != 'f2f08' and func['name'][-5:] != 'f082c' and func['name'][-5:] != 'f082f' and func['name'][:6] != 'MPI_T_' %}
{% if  conf[func['name']] is not defined or  conf[func['name']]['Application'] is not defined or conf[func['name']]['Application']['fortran'] is not defined or conf[func['name']]['Application']['fortran']['generated'] != "False" or ( conf[func['name']]['Application']['fortran']['file'] is defined ) and ( conf[func['name']]['Application']['fortran']['declare'] is not defined or conf[func['name']]['Application']['fortran']['declare'] != "False" ) -%}
    INTERFACE_F_LOCAL_{{func['name']}}=dlsym(interface_handle_f,"_{{func['name']}}");
{% endif %}
{% endif %}
{%- endfor -%}
#else
char *target=getenv("WI4MPI_STATIC_TARGET_TYPE");
{%- for mpilib in mpi_libraries -%}
if(target&&!strcmp(target,"{{mpilib}}")){
{% for func in funcs %} 
{% if func['name'][-3:] != 'f2c' and func['name'][-3:] != 'c2f' and func['name'][-5:] != 'c2f08' and func['name'][-5:] != 'f2f08' and func['name'][-5:] != 'f082c' and func['name'][-5:] != 'f082f' and func['name'][:6] != 'MPI_T_' %}
{% if  conf[func['name']] is not defined or  conf[func['name']]['Application'] is not defined or conf[func['name']]['Application']['fortran'] is not defined or conf[func['name']]['Application']['fortran']['generated'] != "False" or ( conf[func['name']]['Application']['fortran']['file'] is defined ) and ( conf[func['name']]['Application']['fortran']['declare'] is not defined or conf[func['name']]['Application']['fortran']['declare'] != "False" ) -%}
handle_loader({{func['name']}},INTERF_2_{{mpilib}});
{% endif %}
{% endif %}
{%- endfor -%}
}
{% endfor -%}
if(!target{%- for mpilib in mpi_libraries -%}||strcmp(target,"{{mpilib}}")){%- endfor -%})
    printf("no valid WI4MPI_STATIC_TARGET_TYPE defined\n");exit(1);  
#endif
}
    

