    
    {%- macro type_prefix(prefix,type) -%}
        {%- if type[0:4] == 'MPI_' -%}
            {{prefix}}{{type}}
        {%- else -%}
            {{type}}
        {%- endif -%}
    {%- endmacro -%}
    {%- macro var_name_tmp(var,map) -%}
        
    {%- endmacro -%}
    {%-  macro tmp_decl(map,arg)-%} 
        {%-  set var=arg['var']-%} 
        {%-  if map['no_map']|default("") == "" and map['set']|default("") == "" -%} 
            {%-  if map['local_alloc'] == 1-%} 
                {{type_prefix('R_',map['type'][:-1])}} {{var}}_ltmp {%-  if map['type'] not in [ 'MPI_Aint *','MPI_Status *','MPI_Offset *','int *' ]-%} = R_{{ map['type'][:-2]|upper }}_NULL {%-  endif-%} ;
                {{type_prefix('R_',map['type'])}} {{var}}_tmp=&{{var}}_ltmp;
            {%-  elif arg['init_alloc']|default("") != ""-%} 
                {{type_prefix('R_',map['type'])}} {{var}}_tmp=arg['init_alloc'];
            {%-  elif arg['arg_dep']|default("") != "" -%} 
                {%- if map['max_mpi']|default("") != "" and map['type']=='char *' %}
                    char {{arg['var']}}_tmp[R_{{arg['arg_dep']}}];
                {%- else %}
                {%-  if arg['arg_dep'] == '*outcount'-%} 
                    {%-  set argout='incount' -%} 
                {%-  else-%} 
                    {%-  set argout=arg['arg_dep']-%} 
                {%-  endif-%} 
                {%-  if map['type'] == 'MPI_Status'-%} 
                    R_MPI_Status *array_of_statuses_tmp=(array_of_statuses==A_MPI_STATUSES_IGNORE?R_MPI_STATUSES_IGNORE:(R_MPI_Status *) wi4mpi_alloc(sizeof({{type_prefix('R_',map['type'])}})*{{argout}}));
                {%-  else-%}  
                    {{type_prefix('R_',map['type'])|replace('*','')}} *{{var|replace('[]','')}}_tmp = ({{type_prefix('R_',map['type'])|replace('*','')}} *)wi4mpi_alloc(sizeof({{type_prefix('R_',map['type'])|replace('*','')}})*{{argout}});
                {%-  endif-%} 
                {%- endif %}
            {%-  else-%} 
                {{type_prefix('R_',map['type'])}} {{var}}_tmp;
            {%-  endif-%} 
        {%-  endif-%} 
    {%-  endmacro-%} 

    {%-  macro tmp_free(map,arg)-%} 
        {%-  set var=arg['var']-%} 
        {%-  if map['local_alloc']|default(0) != 1 -%}
        {%-  if map['no_map']|default("") == "" and map['set']|default("") == "" -%} 
            {%-  if arg['arg_dep']|default("") != "" -%} 
                {%- if map['max_mpi']|default("") == "" or map['type']!='char *' %}
                {%-  if map['type'] == 'MPI_Status'-%} 
                    if (array_of_statuses != A_MPI_STATUSES_IGNORE) {
                        wi4mpi_free(array_of_statuses_tmp);
                    }
                {%-  else-%}  
                    wi4mpi_free({{var|replace('[]','')}}_tmp);
                {%-  endif-%} 
                {%-  endif-%} 
                {%-  endif-%} 
            {%- endif %}
        {%-  endif-%} 
    {%-  endmacro-%} 
    {%-  macro convert_in(arg, map,idx)-%} 
        {%-  if arg['In'] == 1  -%} 
            {%-  if map['no_map']|default("") == "" and map['set']|default("") == "" -%} 
                {%-  if map['wrap']|default("") != ""-%} 
                    {{arg['wrap']}}=(A_{{map['type']}}) {{arg['var']}};
                {%-  elif map['assign']|default("") != ""-%} 
                    {%-  if  arg['arg_dep']|default("") != "" -%} 
                        int i{{idx}};
                        for( i{{idx}}=0; i{{idx}}< {{arg['arg_dep']}};i{{idx}}++ ) {
                            {{arg['var']|replace('[]','')}}_tmp[i{{idx}}]=(R_{{map['type']|replace('*','')}}){{arg['var']|replace('[]','')}}[i{{idx}}];
                        }
                    {%-  else-%} 
                        {{arg['var']}}_tmp=(R_{{map['type']}}){{arg['var']}};
                    {%-  endif-%} 
                {%-  else-%} 
                    {%- if   arg['arg_dep']|default("") != "" %} 
                        {%- if map['max_mpi']|default("") == "" -%} 
                        int i{{idx}};
                        for( i{{idx}}=0; i{{idx}}< {{arg['arg_dep']}};i{{idx}}++ ) {
                            {{map['a2r']}}(&{{arg['var']|replace('[]','')}}[i{{idx}}],&{{arg['var']|replace('[]','')}}_tmp[i{{idx}}]);
                        }
                        {%- else %}
                            {{map['a2r']}}({{arg['var']}},{{arg['var']}}_tmp,A_{{arg['arg_dep']}},R_{{arg['arg_dep']}});
                        
                        {%-  endif-%} 
                    {%-  else-%} 
                        {%-  if map['a2r'] == 'error_code_conv_a2r'-%} 
                            {{arg['var']}}_tmp=error_code_conv_a2r({{arg['var']}});
                        {%-  else-%} 
                            {%-  if not '*' in map['type'][-1:]  or map['addr_change'] == "True"  -%} 
                                {{map['a2r']}}(&{{arg['var']|replace('[]','')}},&{{arg['var']|replace('[]','')}}_tmp);
                            {%-  else-%} 
                                {{map['a2r']}}({{arg['var']|replace('[]','')}},{{arg['var']|replace('[]','')}}_tmp);
                            {%- endif%}
                        {%- endif%}
                    {%-  endif-%} 
                {%-  endif-%} 
            {%-  endif-%} 
        {%-  endif-%} 
    {%-  endmacro-%} 
    {%- macro handle_local_var(local_var,arg) %}
        {% if local_var is defined %}
            {{local_var["type"]}} {{local_var["names"]|join(',')}}; 
            LOCAL_{{local_var["function"]["name"] }}({{local_var["function"]["arguments"]|join(',')}});

        {% endif %}
    {% endmacro %}
